@model IEnumerable<TickerInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TickerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TickerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TickerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TickerCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExchangeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @item.StartTime.ToString("HH:mm:ss zzz")
                </td>
                <td>
                    @item.EndTime.ToString("HH:mm:ss zzz")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TickerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TickerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TickerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>